<%- include('partials/header') %>

<!DOCTYPE html>
<html>

<head>
    <title>Education</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="short icon" href="https://i.ibb.co/m4SH4RQ/logo4.png" type="image/x-icon">

    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">





    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


</head>


<!---body--->

<body>

    <!---main---------->
    <main>

        <!---main header----->
        <header class="main-heade">
            <na>
                <!-- <a href="EDUCATION1.html"><img src="https://i.ibb.co/m4SH4RQ/logo4.png" alt="website logo"></a> -->
                <a href='https://www.linkpicture.com/view.php?img=LPic62516e81b19fa1404311741'><img src='https://www.linkpicture.com/q/c444331e7bec4b57b564870b069b9f3d-removebg-preview.png' type='image'></a>
                <div class="na-links" id="navlinks">

                    <ul>
                        <li><a href="home.ejs">HOME</a></li>
                        <li><a href="#course  ">COURSES</a></li>
                        <li><a href="#about">ABOUT US</a></li>
                        <li><a href="">BLOGS</a></li>
                        <li><a href="#contactUs">CONTACT US</a></li>
                    </ul>
                </div>

                <!-- Show Menu Button -->
                <i class="fas fa-bars" onclick="menubutton()"></i>

            </na>
        </header>

        <section class="course" id="course">

            <div class="showChapter">
                <i class="fas fa-bars" onclick=menubutton1()></i>
            </div>

            <div class="ro">
                <div class="course-co" style="background-color: lightseagreen;">
                    <h3>Physics</h3>
                </div>
                <div class="course-co">
                    <h3>Mathematics</h3>
                </div>

                <div class="course-co">
                    <h3>Chemistry</h3>
                </div>

            </div>



        </section>

        <div class="Megacontainer">

            <div class="men" id="men">
                <div class="menucontent">

                    <div class="leftmenu2">

                        <a class="btn-lg btn-outline-dark  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                        Electric Field and Charge </a>




                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="https://www.w3schools.com/html/movie.mp4" class="dropdown-item"> Introduction | Electric Charge</a>
                            <a href="sample video2" class="dropdown-item">Conductors | Insulators </a>

                            <a href="#" class="dropdown-item">Charging by Induction</a>
                            <a href="#" class="dropdown-item">Properties of Electric Charge </a>
                            <a href="#" class="dropdown-item">Coulomb’s Law</a>
                            <a href="#" class="dropdown-item"> Forces between Multiple Charges </a>
                            <a href="#" class="dropdown-item"> Electric Field | Electric Flux</a>
                            <a href="#" class="dropdown-item"> Electric Dipole</a>
                            <a href="#" class="dropdown-item">Dipole in a Uniform External Field</a>
                            <a href="#" class="dropdown-item">Continuous Charge Distribution</a>
                            <a href="#" class="dropdown-item">Gauss’s Law And Its Applications</a>

                        </div>
                    </div>

                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Electrostatic Potential And </br> Capacitance
            </a>
                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">
                            <a href="sample video1.mp4" class="dropdown-item">Introduction</a>
                            <a href="sample video2.mp4" class="dropdown-item">Electrostatic Potential</a>
                            <a href="#" class="dropdown-item"> Point Charge | Electric dipole</a>
                            <a href="#" class="dropdown-item">Potential due to System of Charges</a>
                            <a href="#" class="dropdown-item">Equipotential Surfaces</a>
                            <a href="#" class="dropdown-item">Potential Energy of a System of Charges</a>
                            <a href="#" class="dropdown-item">Potential Energy in an External Field</a>
                            <a href="#" class="dropdown-item">Electrostatics of Conductorsli></a>
                            <a href="#" class="dropdown-item"> Dielectrics and Polarisation</a>
                            <a href="#" class="dropdown-item">Capacitors and Capacitance</a>
                            <a href="#" class="dropdown-item">The Parallel Plate Capacitor</a>
                            <a href="#" class="dropdown-item"> Effect of Dielectric on Capacitance</a>
                            <a href="#" class="dropdown-item">Combination of Capacitors</a>
                            <a href="#" class="dropdown-item">Energy Stored in a Capacitor</a>
                            <a href="#" class="dropdown-item">Van de Graaff Generator</a>
                        </div>

                    </div>

                    <div class="leftmenu2">

                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Current Electricity
            </a>
                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item">Introduction | </a>
                            <a href="#" class="dropdown-item">Electric Current | Electric Current in Conductors</a>
                            <a href="#" class="dropdown-item">Ohm’s Law And Limitations of Ohm’s Law</a>
                            <a href="#" class="dropdown-item"> Drift of Electrons and the Origin of Resistivity</a>
                            <a href="#" class="dropdown-item">Resistivity of materials | Temperature Dependance</a>
                            <a href="#" class="dropdown-item">Electrical Energy, Power</a>
                            <a href="#" class="dropdown-item">Combination of Resistors-Series and Parallel</a>
                            <a href="#" class="dropdown-item">Cells, emf, Internal Resistance</a>
                            <a href="#" class="dropdown-item">Cells in Series and in Parallel</a>
                            <a href="#" class="dropdown-item">Kirchhoff’s Rules</a>
                            <a href="#" class="dropdown-item">Wheatstone Bridge</a>
                            <a href="#" class="dropdown-item">Meter Bridge</a>
                            <a href="#" class="dropdown-item"> Potentiometer</a>
                        </div>

                    </div>
                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Moving Charges and </br> Magnetism
            </a>

                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item">Introduction | Magnetic Force</a>
                            <a href="#" class="dropdown-item">Motion in Combined Electric and Magnetic Fields</a>
                            <a href="#" class="dropdown-item"> Magnetic Field due to a Current Element, Biot-Savart Law</a>
                            <a href="#" class="dropdown-item">Magnetic Field on the Axis of a Circular Current Loop</a>
                            <a href="#" class="dropdown-item"> Ampere’s Circuital Law</a>
                            <a href="#" class="dropdown-item">The Solenoid and the Toroid</a>
                            <a href="#" class="dropdown-item"> Force between Two Parallel Currents, the Ampere</a>
                            <a href="#" class="dropdown-item"> Torque on Current Loop, Magnetic Dipole</a>
                            <a href="#" class="dropdown-item">The Moving Coil Galvanometer</a>

                        </div>
                    </div>
                    <div class="leftmenu2">

                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Magnetism and Matter
            </a>
                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item"> Introduction | The Bar Magnet</a>
                            <a href="#" class="dropdown-item">Magnetism and Gauss’s Law</a>
                            <a href="#" class="dropdown-item">The Earth’s Magnetism</a>
                            <a href="#" class="dropdown-item">Magnetisation and Magnetic Intensity</a>
                            <a href="#" class="dropdown-item"> Magnetic Properties of Materials</a>
                            <a href="#" class="dropdown-item">Permanent Magnets and Electromagnets</a>

                        </div>
                    </div>
                    <div class="leftmenu2">

                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Electromagnetic Induction
            </a>
                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item">Introduction</a>
                            <a href="#" class="dropdown-item">The Experiments of Faraday and Henry</a>
                            <a href="#" class="dropdown-item">Magnetic Flux</a>
                            <a href="#" class="dropdown-item">Faraday’s Law of Induction</a>
                            <a href="#" class="dropdown-item">Lenz’s Law and Conservation of Energy</a>
                            <a href="#" class="dropdown-item">Motional Electromotive Force</a>
                            <a href="#" class="dropdown-item">Energy Consideration: A Quantitative Study</a>
                            <a href="#" class="dropdown-item"> Eddy Currents</a>
                            <a href="#" class="dropdown-item">Inductance </a>
                            <a href="#" class="dropdown-item">AC Generator</a>

                        </div>
                    </div>
                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Alternating Current
            </a>


                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item">Introduction</a>
                            <a href="#" class="dropdown-item">AC Voltage Applied to a Resistor</a>
                            <a href="#" class="dropdown-item">Phasor representation of current and voltage</a>
                            <a href="#" class="dropdown-item">AC Voltage Applied to an Inductor</a>
                            <a href="#" class="dropdown-item">AC Voltage Applied to a Capacitor</a>
                            <a href="#" class="dropdown-item">AC Voltage Applied to a Series LCR Circuit</a>
                            <a href="#" class="dropdown-item">Power in AC Circuit: The Power Factor</a>
                            <a href="#" class="dropdown-item">LC Oscillations</a>
                            <a href="#" class="dropdown-item">Transformers</a>
                        </div>
                    </div>
                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Electromagnetic Waves
            </a>


                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item"> Introduction</a>
                            <a href="#" class="dropdown-item">Displacement Current</a>
                            <a href="#" class="dropdown-item">Electromagnetic Waves</a>
                            <a href="#" class="dropdown-item"> Electromagnetic Spectrum</a>
                        </div>
                    </div>

                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Ray Optics and Optical </br> Instruments
            </a>


                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item">Introduction</a>
                            <a href="#" class="dropdown-item"> Reflection of Light by Spherical Mirrors</a>
                            <a href="#" class="dropdown-item"> Refraction</a>
                            <a href="#" class="dropdown-item"> Total Internal Reflection</a>
                            <a href="#" class="dropdown-item">Refraction At Spherical Surfaces and By Lenses</a>
                            <a href="#" class="dropdown-item">Refraction through a Prism</a>
                            <a href="#" class="dropdown-item"> Dispersion by a Prism</a>
                            <a href="#" class="dropdown-item">Some Natural Phenomena due to Sunlight</a>
                            <a href="#" class="dropdown-item">Optical Instruments</a>
                        </div>
                    </div>
                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Wave Optics
            </a>


                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item">Introduction</a>
                            <a href="#" class="dropdown-item">Huygens Principle</a>
                            <a href="#" class="dropdown-item">Refraction and Reflection of Plane Waves using Huygens Principle</a>
                            <a href="#" class="dropdown-item">Coherent and Incoherent Addition of Waves</a>
                            <a href="#" class="dropdown-item">Interference of Light Waves and Young’s Experiment</a>
                            <a href="#" class="dropdown-item">Diffraction</a>
                            <a href="#" class="dropdown-item"> Polarisation</a>
                        </div>
                    </div>
                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">Dual Nature of Radiation </br> and Matter </a>


                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item"> Introduction</a>
                            <a href="#" class="dropdown-item">Electron Emission</a>
                            <a href="#" class="dropdown-item">Electron Emission</a>
                            <a href="#" class="dropdown-item">Experimental Study of Photoelectric Effect</a>
                            <a href="#" class="dropdown-item">Photoelectric Effect and Wave Theory of Light</a>
                            <a href="#" class="dropdown-item">Einstein’s Photoelectric Equation: Energy Quantum of Radiation</a>
                            <a href="#" class="dropdown-item">Particle Nature of Light: The Photon</a>
                            <a href="#" class="dropdown-item">Wave Nature of Matter</a>
                            <a href="#" class="dropdown-item">Davisson and Germer Experiment</a>
                        </div>
                    </div>
                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"> Atoms </a>

                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">
                            <a href="#" class="dropdown-item">Introduction</a>
                            <a href="#" class="dropdown-item">Alpha-particle Scattering and Rutherford’s Nuclear Model of Atom</a>
                            <a href="#" class="dropdown-item">Atomic Spectra</a>
                            <a href="#" class="dropdown-item"> Bohr Model of the Hydrogen Atom</a>
                            <a href="#" class="dropdown-item">The Line Spectra of the Hydrogen Atom</a>
                            <a href="#" class="dropdown-item">DE Broglie’s Explanation of Bohr’s Second Postulate of Quantisation</a>
                        </div>
                    </div>
                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"> Nuclei </a>


                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item">Introduction to Nuclei</a>
                            <a href="#" class="dropdown-item">Atomic Masses and Composition of Nucleus</a>
                            <a href="#" class="dropdown-item">Size of the Nucleus</a>
                            <a href="#" class="dropdown-item">Mass-Energy and Nuclear Binding Energy</a>
                            <a href="#" class="dropdown-item">Nuclear Force</a>
                            <a href="#" class="dropdown-item"> Radioactivity</a>
                            <a href="#" class="dropdown-item">Nuclear Energy</a>
                        </div>
                    </div>
                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"> Semiconductor Electronics </a>


                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                        </div>
                    </div>
                    <div class="leftmenu2">
                        <a class="btn-lg btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"> Communication Systems </a>


                        <div class="dropdown-menu leftmenu" aria-labelledby="dropdownMenuLink">

                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                            <a href="#" class="dropdown-item"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="maincontainer" id="main_container">

<div class="mainconta" id="main_conta">
                <h3>CLASSROOM</h3>
                <video controls poster="sample.mp4" width="98%" height="365">
                  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                </video>
                <p style="color:blue;font-size:30px;">THEORY </p>
              </div>
                <p><h1><u>Defining Electric Charge</u></h3></p>
                <p><h6>Electric charge is the basic physical property of matter that causes it to experience a force when kept in an electric or magnetic field. An electric charge is associated with an electric field and the moving electric charge generates a magnetic field. Combination of electric and magnetic fields is known as the electromagnetic field. Interaction of the charges generates an electromagnetic force which is the foundation of Physics.</p>

<p>The two types of electric charges are: Positive and Negative, commonly carried by charge carriers protons and electrons. Examples of the types of charges are subatomic particles or the particles of matter:</p>
<ul>
<li>protons are positively charged</li>
<li>electrons are negatively charged</li>
<li>neutrons have zero charge</li>
</ul>
<p>The definition of electric charge is given as follows:</p>
  <p><h5>Electric Charge Definition<h/5></p>
<p>“Electric Charge is the property of subatomic particles that causes it to experience a force when placed in an electric and magnetic field.”</p>

<h/5></p>Is Electric Charge a Vector Quantity?<h/5></p>
<p>Electric charge is a scalar quantity. Apart from having a magnitude and direction, a quantity to be termed a vector should also obey the laws of vector addition, such as triangle law of vector addition and parallelogram law of vector addition; only then the quantity is said to be a vector quantity. When two currents meet at a junction in the case of an electric current, the resultant current of these will be an algebraic sum and not the vector sum. Therefore, an electric current is a scalar quantity, although it possesses magnitude and direction.</p>

<h/5></p>Measuring Electric charge<h/5></p>
<p>Coloumb is the unit of electric charge.

“One coulomb is the quantity of charge transferred in one second.”

Mathematically, the definition of a coloumb is represented as:

Q = I.t

In the equation, Q is the electric charge, I is the electric current and t is the time.</p>


            </div>

            <div class="adcontainer">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Padauk:wght@700&family=Rubik+Bubbles&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
                <h3>This is Ad container</h3>

                <!-- <iframe width="320" height="298" src="https://biteable.com/embed/3566553/3690ed471e560730c19ab302d07fcadf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->


                <!DOCTYPE html>
                <html>
                  <head>
                    <title>Title of the document</title>
                    <style>
                      .blink {
                        animation: blinker 0.6s linear infinite;
                        color: #00008B;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: sans-serif;
                      }
                      @keyframes blinker {
                        50% {
                          opacity: 0;
                        }
                      }
                      .blink-one {
                        animation: blinker-one 1s linear infinite;
                      }
                      @keyframes blinker-one {
                        0% {
                          opacity: 0;
                        }
                      }
                      .blink-two {
                        animation: blinker-two 1.4s linear infinite;
                      }
                      @keyframes blinker-two {
                        100% {
                          opacity: 0;
                        }
                      }
                    </style>
                  </head>
                  <body>
                    <p class="blink">ClassTech (NIT BHOPAL)</p>
                    <p class="blink blink-one">Welcome to ClassTech</p>
                    <p class="blink blink-two">Hii</p>
                  </body>
                </html>

                <iframe frameborder="0" width="320" height="215" src="https://biteable.com/watch/embed/3566553/3690ed471e560730c19ab302d07fcadf?autoplay=1" allowfullscreen="true" allow="autoplay"> </iframe> <p><a href="https://biteable.com/watch/3566553/3690ed471e560730c19ab302d07fcadf"></a></a>.</p>


            </div>

        </div>

    </main>



    <!--script for navigation bar  -->
    <script>
        function menubutton() {
            var x = document.getElementById("navlinks")
            if (x.style.display === "none") x.style.display = "block";
            else x.style.display = "none";
        }
    </script>

    <!-- script for hide and show menu bar -->
    <script>
        function menubutton1() {
            var x = document.getElementById("menu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else x.style.display = "none";
        }
    </script>


    <!-- script for drop down menu -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- script for selecting video -->
    <script>
    window.onload = function() {
        var temp = document.getElementsByTagName('a');
        for (var i = 0; i < temp.length; i++) {

            var tempp = temp[i];
            if (tempp.classList.contains("dropdown-item")) { tempp.onclick = handler; }
        }
    }
    function handler(e) {
        e.preventDefault();

        videotarget = this.getAttribute("href");
        filename = videotarget.substr(0, videotarget.lastIndexOf(".")) || videotarget;

        video = document.querySelector("#main_container video");

        source = document.querySelectorAll("#main_container video source");

        source[0].src = filename + ".mp4";

        video.load();
        video.play();
    }
</script>
</body>

</html>
<%- include('partials/footer') %>
